<%= form_with model: mountain, local: true do |f| %>
  <div>
    <%= f.label :name, "山の名前" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :height, "標高 (m)" %>
    <%= f.number_field :height %>
  </div>
  <div>
    <%= f.label :location, "所在地" %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :date_climbed, "登山日" %>
    <%= f.date_select :date_climbed %>
  </div>
  <div>
    <%= f.label :difficulty_id, "難易度" %>
    <%= f.select :difficulty_id, Difficulty.all.map { |d| [d.name, d.id] }, include_blank: "選択してください" %>
  </div>
  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "記録を保存する", class: "btn btn-primary" %>
  </div>
<% end %>
