<%= form_with model: @mountain, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <!-- 年月日のプルダウン -->
  <div>
    <%= f.label :year_id, "年" %>
    <%= f.select :year_id, Year.all.map { |y| [y.name, y.id] }, { include_blank: "選択してください" }, class: "form-control" %>
  </div>
  <div>
    <%= f.label :month_id, "月" %>
    <%= f.select :month_id, Month.all.map { |m| [m.name, m.id] }, { include_blank: "選択してください" }, class: "form-control" %>
  </div>
  <div>
    <%= f.label :day_id, "日" %>
    <%= f.select :day_id, Day.all.map { |d| [d.name, d.id] }, { include_blank: "選択してください" }, class: "form-control" %>
  </div>

  <div>
    <%= f.label :difficulty_id, "Difficulty" %>
    <%= f.select :difficulty_id, Difficulty.all.map { |d| [d.name, d.id] }, { include_blank: "選択してください" }, class: "form-control" %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<% end %>
