<h1>新しい登山記録を作成</h1>
<%= render 'form', mountain: @mountain %>
<%= form_with model: @mountain, local: true do |f| %>
  <div>
    <%= f.label :name, "山の名前" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :height, "標高 (m)" %>
    <%= f.number_field :height %>
  </div>
  <div>
    <%= f.label :location, "所在地" %>
    <%= f.text_field :location %>
  </div>
  
  <div>
  <%= f.label :year_id, "年" %>
  <%= f.collection_select(:year_id, Year.all, :id, :name, {}, { include_blank: "選択してください" },{class: "select-box", id: "year-select" }) %>
</div>

<div>
  <%= f.label :month_id, "月" %>
  <%= f.collection_select(:month_id, Month.all, :id, :name, {},{ include_blank: "選択してください" }, {class: "select-box", id: "difficulty-select"}) %>
</div>

<div>
  <%= f.label :day_id, "日" %>
  <%= f.collection_select(:day_id, Day.all, :id, :name, {}, { include_blank: "選択してください" },{ class: "select-box", id: "day-select" }) %>
</div>
  <div>
    <%= f.label :difficulty_id, "難易度" %>
    <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :name, {}, {class: "select-box", id: "difficulty-select"}) %>
  </div>
  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "記録を保存する", class: "btn btn-primary" %>
  </div>
<% end %>