<h1><%= @mountain.name %></h1>
<p><strong>標高:</strong> <%= @mountain.height %>m</p>
<p><strong>所在地:</strong> <%= @mountain.location %></p>
<p><strong>登山日:</strong> <%= @mountain.date_climbed %></p>
<p><strong>難易度:</strong> <%= @mountain.difficulty.name %></p>
<p><strong>説明:</strong> <%= @mountain.description %></p>

<h2>Comments</h2>
<ul>
  <% @mountain.comments.each do |comment| %>
    <li><%= comment.content %> - <%= comment.user.name %></li>
  <% end %>
</ul>

<h3>Add a Comment</h3>
<%= form_with model: [@mountain, Comment.new], local: true do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, rows: 3 %>
  </div>
  <%= f.submit "Post Comment" %>
<% end %>